* {
    user-select: none;
}
body, .info {
    transition: background 0.5s;
}

img#switch {
    position: absolute;
    height: 25px;
    right: 30px;
    top: 30px;
    transition-property: filter, rotate;
    transition: 0.6s;
}
img#switch:hover {
    filter: invert(16%);
    cursor: pointer;
}

.info {
    overflow: hidden;
    background: #eaeaea;
    padding: 30px 25%;
    display: grid;
}
.img-container {
    height: 200px;
    width: 200px;
    display: inline-block;
    grid-row: 1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #0000006b;
}
.img-container img {
    height: 100%;
    width: 100%;
}
.text-container {
    grid-row: 1;
    padding: 20px 20px 20px 30px;
}
.name {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 6px;
}
.info p {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
.social {
    position: relative;
    margin: 20px 0px 0px 0px;
}
.social a, .social p {
    margin: 0px 0px 8px 0px;
    background: black;
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    font-family: 'Nunito';
    font-size: 12px;
    box-shadow: 0px 0px 20px 0px #0000006b;
    transition: 0.3s;
    transition-property: background, width, border, box-shadow;
    display: inline-block;
}

.discord:hover {
    user-select: all;
    cursor: pointer;
    background-color: #7289DA;
}
.email:hover {
    user-select: all;
    cursor: pointer;
    background-color: #CE5042;
}
.instagram:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.facebook:hover {
    background: #4267B2; 
}
.twitter:hover {
    background: #1DA1F2; 
}
.linked-in:hover {
    background: #0077B5; 
}
.github:hover {
    background: #7BC96F; 
}
.stack:hover {
    background: #F48024; 
}

.projects {
    display: grid;
    padding: 30px 25%;
}
.projects div {
    width: 300px;
    height: 200px;
    display: inline-block;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px #0000004d;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.projects img{
    height: 100%;
    position: relative;
    transition: filter 0.3s;
}
.projects img:hover {
    filter: blur(3px);
}
.projects h1 {
    z-index: 1;
    color: white;
    position: relative;
    top: -40px;
    float: right;
    font-size: 28px;
    font-family: 'Nunito';
    margin: 0px 16px 0px 0px;
    text-shadow: 2px 2px 8px black;
    pointer-events: none;
    transition-property: top, font-size;
    transition: 0.3s;
}
.projects p {
    z-index: 1;
    color: #f1f1f1;
    position: relative;
    top: 0px;
    height: 174px;
    float: right;
    font-size: 18px;
    font-family: 'Nunito';
    margin: 0px 6px 0px 16px;
    text-shadow: 2px 2px 2px black;
    transition-property: top, font-size;
    transition: 0.4s;
    overflow: scroll;
}
.one {
    grid-row: 1;
}
.two {
    grid-row: 1;
}
.three {
    grid-row: 1;
}
.four{
    grid-row: 2;
    margin: 14px 0px 0px 0px;
} 
.five{
    grid-row: 2;
    margin: 14px 0px 0px 0px;
} 
.six {
    grid-row: 2;
    margin: 14px 0px 0px 0px;
}

div.five, div.six {
    background-color: #181818;
}
.projects h2 {
    z-index: 1;
    color: white;
    position: relative;
    bottom: -160px;
    float: right;
    font-size: 28px;
    font-family: 'Nunito';
    margin: 0px 16px 0px 0px;
    text-shadow: 2px 2px 8px black;
    pointer-events: none;
}

@media screen and (max-width: 1832px){
    .projects {
        display: grid;
        padding: 30px 20%;
    }
}
@media screen and (max-width: 1570px){
    .info {
        padding: 30px 20%;
    }
    .projects {
        display: grid;
        padding: 30px 15%;
    }
}
@media screen and (max-width: 1350px){
    .info {
        padding: 30px 15%;
    }
    .projects {
        display: grid;
        padding: 30px 10%;
    }
}
@media screen and (max-width: 1242px){
    .projects {
        display: grid;
        padding: 30px 10%;
    }
}
@media screen and (max-width: 1182px){
    .info {
        padding: 30px 8%;
    }
    .projects {
        display: grid;
        padding: 30px 2%;
    }
}
@media screen and (max-width: 970px){
    .info {
        padding: 30px 8%;
    }
    .projects {
        display: block;
        padding: 30px 2%;
    }
    .projects div {
        width: 100%;
        height: 200px;
        display: inline-block;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 0px 20px 0px #0000006b;
        position: relative;
        left: 0%;
        margin-left: 0px;
    }
    .projects img {
        position: relative;
        transition: filter 0.3s;
        width: 100%;
    }
    .img-container {
        height: 100px;
        width: 100px;
    }
    .name {
        font-size: 20px;
    }
    .info p {
        font-size: 14px;
    }
    .social a, .social p {
        font-size: 10px;
    }
}
@media screen and (max-width: 520px){
    .img-container{
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    /* height: 147px; */
}
::-webkit-scrollbar-thumb {
    background: #ffffff41 !important;
    border-radius: 10px !important;
    transition: 0.3s background ease-in-out;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
}